.truck-request-form {
  position: absolute;
  max-width: 280px;
  z-index: 1000;
  max-height: max-content;
  top: 10px;
  left: 10px;
  background-color: white;
  border: 1px solid var(--color-gray-01);
  border-radius: 10px;
  padding: 0.7rem;
  padding-inline: 1rem;
  transition: all 200ms cubic-bezier(0.66, 0.5, 0.23, 0.96);
}

.truck-request-form h4 {
  font-weight: bold;
}

.truck-request-form .form-check label {
  font-size: smaller;
}

.truck-request-form select {
  border: 1px solid var(--color-gray-01);
  border-radius: 0.25rem;
}

.truck-request-form button {
  background-color: var(--color-black-01) !important;
  border-color: var(--color-black-01) !important;
}

@media (max-width: 499px) {
  .truck-request-form {
    top: unset;
    min-width: 100% !important;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}
